<app-layout>

    <div class="start-component page-content" flex justify-content-center align-items-center>

        <form novalidate class="form-entrada" #entrada="ngForm" (ngSubmit)="entrarSubmit(entrada.value)">

            <label for="nome">Insira seu nome</label>
            <input type="text" id="nome" name="nome" [(ngModel)]="entrada.nome" required>

            <label for="codigo">Insira a chave de acesso ao exame</label>
            <input class="upper" type="text" id="codigo" name="codigo" [(ngModel)]="entrada.codigo" required>

            <button type="submit" button-purple-mini button-fix-width [disabled]="!entrada.form.valid">Iniciar</button>

        </form>

    </div>

</app-layout>
