<app-layout>

    <div class="start-component page-content" flex justify-content-center align-items-center>

        <form novalidate class="form-entrada" #entrada="ngForm" (ngSubmit)="entrarSubmit(entrada.value)">

            <label for="nome">Insira seu nome</label>
            <input type="text" id="nome" name="nome" [(ngModel)]="nome" required>

            <label for="codigo">Insira a chave de acesso ao exame</label>
            <input class="upper" type="text" id="codigo" name="codigo" [(ngModel)]="codigo" required>

            <button type="submit" button-purple button-mini button-fix-width [disabled]="!entrada.form.valid || showCodigoLoading">
                <span *ngIf="!showCodigoLoading else loadCodigo">Iniciar</span>
                <ng-template #loadCodigo>
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                </ng-template>
            </button>

        </form>

    </div>

</app-layout>
