<app-layout [showBackButton]="true">

    <div class="exame-component page-content">

        <h6>Exame</h6>

        <ng-container *ngIf="exame else semExame">
            <h3>{{exame.titulo}}</h3>

            <div class="questions">

                <ion-slides [options]="sliderOptions" #questions (ionSlideDidChange)="onSlideChange($event)">
                    <ion-slide *ngFor="let questao of exame.questoes; let idx = index;">

                        <div card>
                            <app-pergunta [exame]="questao" [index]="idx" (result)="onQuestaoResult($event)"></app-pergunta>
                        </div>

                    </ion-slide>

                    <ion-slide>

                        <div question-finish flex justify-content-center align-items-center flex-column>

                            <p>{{nome}}, certifique-se que as questões foram preenchidas corretamente antes de submeter o exame.</p>

                            <p>Após a submissão, não será mais possível refazer qualquer questão pendente ou que tenha sido preenchida incorretamente.</p>

                            <button button-white button-mini button-fix-width (click)="submeterExame()" [disabled]="showSubmitLoading">
                                <span *ngIf="!showSubmitLoading else submitLoading">Submeter exame</span>
                                <ng-template #submitLoading>
                                    <i class="fa fa-spin fa-circle-o-notch"></i>
                                </ng-template>
                            </button>
                        </div>

                    </ion-slide>
                </ion-slides>

            </div>

            <app-progress [progress]="progress" [max]="exame.questoes.length"></app-progress>
        </ng-container>

        <ng-template #semExame>
            <div class="nenhum">
                <em>nenhum exame selecionado</em>
            </div>
        </ng-template>

    </div>

</app-layout>
