.exame-component {
    overflow: hidden;

    h6 {
        color: var(--grey);
        font: {
            size: .7em;
            weight: 300;
        }
    }

    h3 {
        color: var(--purple);
        font-size: .95em;
    }

    h3, h6 {
        text-align: center;
    }

    ion-slides {
        width: 100%;
        //max-width: 960px;
        margin: 0 auto;

        .swiper-slide-prev, .swiper-slide-next {
            -webkit-transition: opacity .5s;
            -moz-transition: opacity .5s;
            -ms-transition: opacity .5s;
            -o-transition: opacity .5s;
            transition: opacity .5s;
            opacity: .2;
        }
    }

    [card], [question-finish] {
        min-height: 62vh;
        width: 90%;
        min-width: 300px;
        max-width: 630px;
    }

    [question-finish] {
        background-color: var(--purple);
        p {
            text-align: left;
        }

        button {
            margin-top: 1.5em;
        }
    }

    .nenhum {
        padding: 3em 0;
        text-align: center;

        em {
            color: var(--grey);
            font-weight: 300;
        }
    }
}

@media all and (min-width: 500px){
    .exame-component {
        [card], [question-finish] {
            min-height: 40vh;
        }
    }
}
