%button-base {
    border: 0;
    border-radius: 25px;
    padding: .5em 1em;
    font: {
        weight: 300;
        size: 1em;
    }

    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;

    &:disabled {
        background-color: #c0c0c0;
    }
}

%button-purple {
    @extend %button-base;
    color: #fff;
    background-color: var(--purple);

    &:hover {
        background-color: var(--purpleDark);
    }
}

[button-purple] {
    @extend %button-purple;
}

%button-white {
    @extend %button-base;
    color: var(--purple);
    background-color: #fff;

    &:hover {
        background-color: #e0e0e0;
    }
}

[button-white] {
    @extend %button-white;
}

[button-mini] {
    font-size: .85em;
}

[button-large] {
    font-size: 1.3em;
}

[button-fix-width] {
    min-width: 150px;
}

[button-fix-width-large] {
    min-width: 250px;
}

[button-block] {
    width: 100%;
}
