<app-layout [showBackButton]="true">

    <div class="responder-component page-content" padding>

        <h6>Exame</h6>

        <h3>Exame de lógica avançada para a turma expert II</h3>

        <div class="questions">

            <ion-slides [options]="sliderOptions" #questions>
                <ion-slide>

                    <div card>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aspernatur dicta, dolorum, ea fugiat illum inventore ipsam magni maiores minima numquam odio officiis perspiciatis reiciendis rem sed totam, voluptate.
                    </div>

                </ion-slide>

                <ion-slide>

                    <div card>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aspernatur dicta, dolorum, ea fugiat illum inventore ipsam magni maiores minima numquam odio officiis perspiciatis reiciendis rem sed totam, voluptate.
                    </div>

                </ion-slide>

                <ion-slide>

                    <div question-finish>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aspernatur dicta, dolorum, ea fugiat illum inventore ipsam magni maiores minima numquam odio officiis perspiciatis reiciendis rem sed totam, voluptate.
                    </div>

                </ion-slide>
            </ion-slides>

        </div>

    </div>

</app-layout>
