<div class="menu-component">

    <div class="logo" flex justify-content-center align-items-center>
        <img src="/assets/img/logo-completo.png" alt="AppLica">
    </div>

    <div class="menu-content" padding>

        <button button-purple button-block>Sobre Nós</button>
        <button button-purple button-block>Registre-se</button>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda dolor ducimus explicabo fugiat fugit, id illo illum inventore iusto labore minima necessitatibus nihil ratione repellendus saepe sed temporibus ullam!</p>
    </div>
</div>
