// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/colors.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/buttons";
@import "theme/cards";

*, body, html {
    font-family: 'Roboto', sans-serif;
}

.page-content {
    height: 90vh;
}

[flex] {
    display: flex;
}

[flex-column] {
    flex-direction: column;
}

/*ion-radio {
    .radio-icon, sc-ion-radio-md {
        width: 24px !important;
        height: 24px !important;
        border-color: var(--purple) !important;
    }
    .radio-checked {
        border-color: var(--purple) !important;
    }
    .radio-inner {
        width: 14px !important;
        height: 14px !important;
        left: 3px !important;
        top: 3px !important;
        background-color: var(--purple) !important;
    }
}

ion-item {
    .item-native {
        padding: 0 !important;
        margin: 0;
        min-height: auto !important;
    }
    .in-item[slot="start"].sc-ion-radio-md-h {
        margin: 0 !important;
    }
}*/
